body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f1f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(16, 10, 10);
  width: 420px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #160b0b;
}

h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="date"],
.form textarea,
.form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1.5px solid #080f11;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form textarea:focus,
.form select:focus {
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.1);
}

.gender,
.skills {
  margin: 15px 0;
}

.gender label,
.skills label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
  color: #efebeb;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
  color: #333;
  
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.1);
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

button[type="submit"] {
  background-color: #1976d2;
  color:white;
}

button[type="submit"]:hover {
  background-color: #1565c0;
}

.cancel {
  background-color: #e0e0e0;
  color: #333;
}

.cancel:hover {
  background-color: #c6c6c6;
}
